* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .root{
      display: flex;
      justify-content: center;
  }
  .nome-insta{
      display: none;
  }
  .menu-top {
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    border: solid 1px #dbdbdb;
    display: flex;
    flex-wrap: wrap;
  
    align-items: center;
    z-index: 3;
  
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
  }
  .top-left {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 16%;
  }
  .top-left p {
    font-size: 20px;
    color: #dbdbdb;
  }
  .top-left img {
    height: 25px;
    padding: 0px 10px 0px 10px;
  }
  .top-left #nome-insta {
    padding-top: 3px;
  }
  .top-mid {
    width: auto;
    position: absolute;
    right: 44%;
  }
  .top-mid input {
    text-align: center;
    border: solid 1px #dbdbdb;
    border-radius: 5px;
    color: #979797;
  }
  .top-right {
    position: absolute;
    right: 16%;
  }
  .top-right img {
    width: 35px;
    height: 25px;
  }
  .Conteudo {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 84px;
  }
  
  .postagens-e-stories {
    box-sizing: border-box;
  }
  
  .stories {
    width: 614px;
    height: 118px;
    display: flex;
    border: solid 2px #dbdbdb;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    position: relative;
  }
  .stories div {
    
    height: 64px;
    background-image: url("Arquivos-Úteis/stories_background1.png");
    background-size: cover;
    box-sizing: border-box;
    margin: auto 18px auto 0px;
  }
  .stories #fotos-stories {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin: 5px 5px 5px 5px;
    box-sizing: border-box;
  }
  
  #botão-stories {
    display: flex;
    z-index: 3;
    position: absolute;
    right: 10px;
    top: 46px;
  }
  
  .posts {
    border: solid 2px #dbdbdb;
    width: 614px;
    height: 900px;
    box-sizing: border-box;
    margin-top: 20px;
  }
  .parte-cima-post {
    display: flex;
    align-items: center;
    height: 58px;
  }
  .parte-cima-post {
    padding-left: 5px;
    padding-right: 5px;
  }
  .parte-cima-post span {
    padding-left: 10px;
  }
  
  .parte-cima-post a {
    font-size: 25px;
    margin: auto 10px 23px auto;
  }

  #imagem-post {
    width: 612px;
    height: 612px;
  }
  
  .parte-baixo-post img {
    padding: 8px;
    width: 16px;
    height: 15px;
  }
  #icones {
    display: flex;
  }
  .parte-baixo-post #bookmark {
    margin: auto 10px auto auto;
  }
  #likes {
    display: flex;
    align-items: center;
  }
  
  #likes span {
    font-weight: bold;
  }
  
  .comentarios div {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .comentarios span {
    padding: 10px 0px 10px 5px;
  }
  .comentarios img {
    position: absolute;
    right: 0px;
    width: 15px;
    height: 15px;
  
    background-color: #b2dffc;
    transition-duration: 300ms;
    background-size: cover;
  }
  :hover.comentarios img {
    background-color: #0095f6;
  }
  #nome-comentario {
    font-weight: bold;
  }
  #comentario {
    font-weight: normal;
  }
  .sugestoes {
    width: 300px;
    padding-left: 30px;
    right: 17%;
  }
  .sugestao-principal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
  }
  .sugestao-principal img {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 25px;
  }
  
  #texto-sugestao {
    display: flex;
    flex-direction: column;
  }
  .texto-meio-sugestoes {
    display: flex;
    justify-content: space-between;
  }
  #texto-escuro {
    font-weight: bold;
  }
  #texto-claro {
    color: #c4c1c1;
    font-weight: lighter;
    font-size: 14px;
  }
  #texto-seguir {
    color: #139ef2;
    font-weight: 500;
  }
  .outras-sugestoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
  }
  .texto-outras-sugestoes {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 45px;
  }
  
  @media screen and (max-width: 935px) {
    .sugestoes {
      display: none;
    }
  
    .top-right {
      right: 0px;
    }
    .top-left {
      left: 0px;
    }
  }
  
  @media screen and (max-width: 620px) {
    .sugestoes {
      display: none;
    }
    .top-right {
      right: 0px;
    }
    .top-right #top2,
    #top3,
    #top4 {
      display: none;
    }
    .top-left {
      left: 0px;
    }
    .top-mid input{ 
        display: none;
    }
    #nome-insta{
        display: none;
    }
    .nome-insta{
        display: block;
    }
    
  }